.container {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-main-container {
    padding: 50px 100px;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.file-sub-container {
    border: 2px dashed rgb(4, 4, 224);
    border-radius: 5px;
    padding: 70px 140px;
}
